body{
    background-color: white;
}
.first_p{
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}